/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v10/dI-qzxlKVQA6TUC5RKSb3xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h2 {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-style: normal!important;
    font-size: 2.6em!important;
}

div.formulario {
    position: relative;
}
form{
    position: absolute;
    left: 46%;
    top: -2.0em;
    text-align: left;
    font-family: Oswald!important; 
    font-weight: 400!important; 
    font-style: normal!important;
    text-transform: uppercase;
    line-height: 0!important;
    color: #a5a5a5!important;
    margin-bottom: 0!important;
    margin-top:0.2!important;
}

p.form {
    font-size: 0.4em;
    margin-bottom: 0.1em;
    margin-top: 1.4em
}

p {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-size: 0.5em!important;
    font-style: normal!important;
}

p.opciones {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-style: normal!important;
    text-transform: uppercase;
    line-height: 1.5!important;
    cursor: pointer;
}

p.opciones:hover {
    color: black;
}

p.pregunta {
    font-family: Oswald!important; 
    font-weight: 400!important; 
    font-style: normal!important;
    font-size: 0.8em!important;
    color: black!important;
}

p.pregunta strong {
    font-size: 2.5em;
}

p.pregunta strong.plus {
    font-size: 3em;
}

.ui-slider {
    background-color: transparent!important;
}
#sliders {
    width: 80%!important;
    padding: 0 10% 0 10%!important;
}
#sliders a {
    font-size: 90%!important;
    text-decoration: none!important;
}
#container {
    min-width: 400px!important;
    height: 400px;
    margin: 0 auto;
}
text[text-anchor=end] {
    display:none!important
}