h2 {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-style: normal!important;
    font-size: 2.6em!important;
}

div.formulario {
    position: relative;
}
form{
    position: absolute;
    left: 46%;
    top: -2.0em;
    text-align: left;
    font-family: Oswald!important; 
    font-weight: 400!important; 
    font-style: normal!important;
    text-transform: uppercase;
    line-height: 0!important;
    color: #a5a5a5!important;
    margin-bottom: 0!important;
    margin-top:0.2!important;
}

p.form {
    font-size: 0.4em;
    margin-bottom: 0.1em;
    margin-top: 1.4em
}

p {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-size: 0.5em!important;
    font-style: normal!important;
}

p.opciones {
    font-family: Oswald!important; 
    font-weight: 700!important; 
    font-style: normal!important;
    text-transform: uppercase;
    line-height: 1.5!important;
    cursor: pointer;
}

p.opciones:hover {
    color: black;
}

p.pregunta {
    font-family: Oswald!important; 
    font-weight: 400!important; 
    font-style: normal!important;
    font-size: 0.8em!important;
    color: black!important;
}

p.pregunta strong {
    font-size: 2.5em;
}

p.pregunta strong.plus {
    font-size: 3em;
}

.ui-slider {
    background-color: transparent!important;
}
#sliders {
    width: 80%!important;
    padding: 0 10% 0 10%!important;
}
#sliders a {
    font-size: 90%!important;
    text-decoration: none!important;
}
#container {
    min-width: 400px!important;
    height: 400px;
    margin: 0 auto;
}
text[text-anchor=end] {
    display:none!important
}